{# Makes an absolute URL to the /images/logo.png file #}
<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3>Email Change Notification</h3>

Hi {{ regObject.name }} ! ,
 We received a email change request to {{ regObject.newmail }} for your bigbangtrading.com account .


Thanks!

