{# Makes an absolute URL to the /images/logo.png file #}
<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3>Email Change verification</h3>

Hi {{ regObject.name }} ! , we received a email change request

{# example, assuming you have a route named "login" #}
To verify, go to: <a href="{{ url('emailupdateteacherverify', {'verifyLink': regObject.encryptedLink } ) }}">Verify Link</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img style="width:20%";  src="{{ absolute_url(asset('imgs/logo.png')) }}">