
<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3>{{'email.change.notify.title' | trans}}</h3>


<span>{{ 'email.notify.message' | trans({'%name%': regObject.name ,'%newmail%' : regObject.newmail }) }}</span>



<p>{{'thank.msg' | trans}}</p>

