
<div ng-controller="homepage">
	<div class="whole_container">
		<div class="header_container">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-2">
				<div class="header_logo_cont">
					<div class="header_logo">
						<img src="imgs/logo.png">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
				<div class="header_right_cont">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-xs-2">
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12 bigger_p0">
							<input type="" name="" placeholder="Email" ng-model="login.email" class="form_inputtext">
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12 ">
							<input type="" name="" placeholder="Password" ng-model="login.password" class="form_inputtext">
						</div>
						<div class="col-lg-2 col-md-2 col-xs-12 bigger_p0">
							<button class="head_login_but gradient" ng-click="loginNow()">Log In</button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="forgot_password_cont">
								<a href="javascript:void(0)" class="forgotpass_text">Forgot your password?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="body_container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="body_main_text">
						<h3 class="biggerText">Your university is getting closer</h3>
						<ul class="body_main_ul">
							<li> <i class="fa fa-check-circle"></i> Learn Finance</li>
							<li> <i class="fa fa-check-circle"></i> Practice in virtual Stock Exchange</li>
							<li> <i class="fa fa-check-circle"></i> Connect with people and companies</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="signup_page_form_cont">
						<div class="signup_form_card">
							<div class="card_header">
								<div class="card_header_text"> 
									Sign up Teacher
								</div>
								<div class="card_header_button">
									<!-- <button class="card_header_btn">Are You a teacher?</button> -->
									<h5 class="form_text text-center"> Specially Prepared for Teachers </h5>									
								</div>
							</div>
							<div class="card_body" ng-if="!completed">
								<form  id="signup" name="signup" autocomplete="off" formnovalidate="formnovalidate">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form_input_cont">
											<input class="form_inputtext"  placeholder="Name" type="text" ng-model="teacher.username" name="username" ng-minlength="2" ng-maxlength="30" ng-pattern="/^[a-zA-Z ]*$/" required>											
										</div>
										<div  ng-messages="signup.username.$error" ng-show="signup.username.$touched">
											   <div ng-messages-include="js/messages.html"></div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Surname" type="text" ng-model="teacher.surname" name="surname" 
											ng-minlength="2" ng-maxlength="30" ng-pattern="/^[a-zA-Z ]*$/" required>
										</div>
										 <div ng-messages="signup.surname.$error" ng-show="signup.surname.$touched">
									       <div ng-messages-include="js/messages.html"></div>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="Email" type="email" ng-model="teacher.email" name="email" 
											ng-minlength="6" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,30}$/"  required>  
										</div>
										<div ng-messages="signup.email.$error" ng-show="signup.email.$touched">
									       <div ng-messages-include="js/messages.html"></div>
									    </div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="Password" type="password" ng-model="teacher.password" ng-minlength="6" name="password"
											  required> <!-- ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/" -->
										</div>
										<div ng-messages="signup.password.$error" ng-show="signup.password.$touched">
									       <div ng-messages-include="js/messages.html"></div>
									    </div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="University" type="text" ng-model="teacher.university" name="university" 
											ng-minlength="2" ng-maxlength="30" ng-pattern="/^[a-zA-Z ]*$/" required>
										</div>
										 <div ng-messages="signup.university.$error" ng-show="signup.university.$touched">
									       <div ng-messages-include="js/messages.html"></div>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<button class="form_submit_but gradient" ng-click="shiftTab(1);teacher_signup()" ng-disabled="!signup.$valid">Join now</button>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="card_terms">
											By clicking the join now button you agree with the cookies policy, the privacy policy and terms and conditions.
										</div>
									</div>
								</div>
								</form>
							</div>
							<div class="card_body" ng-if="completed">
									{{signupReason}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
