		<div class="left_bar_cont">
			<div class="left_bar">
				<div class="left_bar_logo">
					<div class="left_logo">
						<img src="imgs/logo.png">
					</div>
					<div class="left_logo_text">
						Victor Garcia
					</div>
				</div>
				<div class="left_bar_content">
					<div class="left_bar_buttons">
						<ul class="bar_but_ul"> 
							<li>
								<button class="left_bar_but selected">Profile</button>
							</li>
							<li>
								<button class="left_bar_but">Ranking</button>
							</li>
							<li>
								<button class="left_bar_but">Feedback</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>